.experiment-td {
    width: 200px;
}

.experiment-table {
    margin: 0 auto;
}

.experiment-tr {
    height: 200px;
}

.main_div {
    margin: 1% 10% 1% 10%;;
}

.thermometer-div {
    height: 50px;
}