<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/dallinger.css" type="text/css">
    <script src="/static/scripts/reqwest.min.js" type="text/javascript"> </script>
    <script src="/static/scripts/jquery-min.js" type="text/javascript"> </script>
    <script src="/static/scripts/dallinger.js" type="text/javascript"> </script>
    <script src="/static/scripts/instructions/instruct-3.js" type="text/javascript"> </script>
</head>

<div class="main_div">

    <h1>Instructions</h1>

    <hr>

    <p>Across this experiment you will complete <span class="rounds"></span> rounds, each of which involves <span class="trials"></span> trials.</p>
    <p>You will only be able to check both food sources for the first few trials on each round. This could be as few as just the first trial, or it may be more.</p>
    <br>
    <p>Within each round the two food sources are always the same, however between rounds they might change, for instance "pick berries" might be replaced with "hunt deer".</p>
    <p>If the food sources change you will have to learn how temperature affects the new food sources, however, if they don't change, what you have already learnt will still be true.</p>

    <hr>

    <div>
        <div class="row">
            <div class="col-xs-2">
                <button type="button" class="btn btn-primary btn-lg" id="prev-button">Previous</button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" class="btn btn-primary btn-lg" id="next-button">Next</button>
            </div>
        </div>
    </div>
</div>
